body {
 background-color: papayawhip;
}

#head {
 text-align: center;
 color: black;
 background-color: plum;
 padding: 1rem;
 border-radius: 1rem;
}

#txt-input {
 display: block;
 margin: 1rem;
 width: 90%;
 height: 10vh;
 position: relative;
 border: 3px solid black;
 font-size: 22px;

}

.container-center {
 max-width: 600px;
 margin: auto;
}


#btn {
 padding: 1rem;
 background-color: rgb(212, 238, 238);
 color: black;
 height: 8vh;
 width: 20%;
 border-radius: 1rem;
}

#output {
 border: 3px solid black;
 height: 10vh;
 width: 90%;
 margin: 1rem;
}

.op {
 text-decoration: underline;
 font-size: 1.5rem;
 text-align: center;
 color: plum;
 font-weight: 700;
}

.footer {
 text-align: justify;
 padding: 1rem;
 background-color: plum;
 font-family: sans-serif;
 font-weight: 400;
 font-size: 1rem;
 border-radius: 1rem;

}