#txt-input {
 display: block;
 padding: 1rem;
 margin: 1rem;
 width: 80%;
 height: 10vh;
}

#btn {
 padding: 1rem;
 background-color: gold;
 color: black;
}

#output {
 border: 1px solid black;
 height: 10vh;
 width: 80%;
 font-size: large;
 margin: 1rem;
 padding: 1rem;


}
